<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('../partials/head.ejs', {page: 'New'}) %>
    
    <!-- This is my nav bar now -->
    <%- include ('../partials/nav.ejs') %>

        <section class="hero-is-medium has-background-light">
            <div class="hero-body">
                <div class=display_image> </div>
                <h1 class="title">New Art Work </h1>
            </div>
        </section>
            <form action="/artWorks" method="POST">
                <div class="field">
                    <label class="label"></label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Title"
                            name="name"
                        />
                    </div>
                </div>
        
                <div class="field">
                    <label class="label"></label>
                    <div class="control">
                        <input class="input" type="number" placeholder="$0.00" name="price" />
                    </div>
                </div>
        
                <div class="field">
                    <label class="label"></label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Image URL"
                            name="image"
                        />
                    </div>
                </div>
                <div class="field">
                    <label class="label"></label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Description"
                            name="description"
                        />
                    </div>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info">Create Art Work</button>
                    </div>
                </div>
            </form>
        </section>
        <div class=display_image> </div>
    </body>
</html>