
<!--https://bootstrap-cheatsheet.themeselection.com/#navbar-dark--> 
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="/artist">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">a</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/artwork/new" tabindex="-1" aria-current="page">New</a>
            </li>
            </ul>
            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>